html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
}

/*this is important to give the map a height*/
#map {
  width: auto;
  height: 100%;
}

.leaflet-routing-container {
  display: none;
}

.navbar {
  margin-bottom: 0;
}

.row {
  height: calc(100vh - 70px);
}

.left-map {
  background: #000;
}

.control {
  padding-top: 10px;
  text-align: left;
}

.cities-list {
  height: 70% !important;
  overflow-y: scroll;
}

li i {
  display: none !important;
}