body {
  margin: 0;
}

.layout {
  background: red;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

header {
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  height: 70px;
  background: black;
  text-align: center;
  font-family: sans-serif;
}
main {
  height: 100%;
  background: orange;
  flex-grow: 1;
  display: flex;
}

#map {
  width: 70%;
  flex-grow: 1;
  background: yellow;
}

.control {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: indigo;
}

#startEngine {
  align-self: flex-end;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
}

.cities-list {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: 1px;
  border-color: black;
}

.li {
  display: inline-block;
}

footer {
  color: white;
  letter-spacing: 1px;
  height: 100px;
  background: black;
  text-align: center;
  font-family: sans-serif;
}

footer a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: cyan;
}
